<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.fentonmartin.aappz">

    <application>
        <activity
            android:name=".permission.PermissionActivity"
            android:theme="@style/Permissions.TransparentTheme" />
    </application>

</manifest>
